*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    // background-color:whitesmoke;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   

    
}
.title{
    text-align: center;
    margin-bottom: 10vh;
}

.layout-store{  
    // width: 100%;
    margin: 10vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10vw;


}



.stylesFilm{
    background-color: whitesmoke;}


.nombre{
    margin: 0% 10% 10% 10%;
    
}
.button-disabled{
    &:disabled{
        background-color: gray;
        cursor: not-allowed;
        color: black;
        &:hover{
            color: black;
        }
    &:active{
        transform: scale(1);

        }
    }

}
.card__title{
    text-align: center;
}

.nombre{
    height: 20%;
}
.button{
    background-color: black;
    color: white;
    margin-bottom: 10px;
    margin-top: 10px;

    // margin-top: auto;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 150ms ease-in-out;

    &:hover{
        color: red;
    }

    &:active{
        transform: scale(0.95);
    }

    &:focus{
        outline: 0;
    }
}



.art{
    // margin: 10px 10% 10vh 30%;
    cursor: pointer;
    // height: auto;
    width: 250px;
    // max-height: 450px;
    border-radius: 5%;
    // padding: 10px;
    transition: 150ms ease-in-out;
}
.art:hover{
        box-shadow: 5px 1px 30px 1px #888888;

}





// flexbox classes
.flex{
    display: flex;
    flex-direction: column;

    &-jc-sb{
        justify-content: space-between;
    }
    &-jc-sa{
        justify-content: space-around;
    }
    &-jc-c{
        justify-content: center;
    }
    &-ai-c{
        align-items: center;
    }
}
.art_img{
     width: 250px;
     height: auto;
    margin-bottom: 15px;
}



.removeFilm{
    background-color: black;
    color: white;
    margin-bottom: 10px;
    margin-top: 10px;

    // margin-top: auto;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 150ms ease-in-out;

    &:hover{
        background-color: rgb(174, 16, 16);
        
    }
    
    &:active{
        transform: scale(0.95);
    }

    &:focus{
        outline: 0;
    
    }
   
    
}